<ul class="main-menu">
	<li class="menu-item"><a onclick="crpGetPage('/')">Home</a></li>
	<li class="menu-item"><a onclick="crpGetPage('/forums')">Forums</a></li>
	<li class="menu-item menu-has-childred">
		<a onclick="crpGetPage('/about')">About</a>
		<ul class="sub-menu">
			<li class="menu-item"><a onclick="crpGetPage('/about')">What is The Chronicles</a></li>
			<li class="menu-item"><a onclick="crpGetPage('/about-chapters')">Chapters</a></li>
			<li class="menu-item"><a onclick="crpGetPage('/join-us')">Join Us</a></li>
		</ul>
	</li>
	<li class="menu-item menu-has-childred">
		<a onclick="crpGetPage('/resources')">Resources</a>
		<ul class="sub-menu">
			<li class="menu-item"><a onclick="crpGetPage('/resources')">Mod Suggestions</a></li>
			<li class="menu-item"><a onclick="crpGetPage('/events')">Chronicles Events</a></li>
			{{#ifAdmin req.user req}}
				<li class="menu-item"><a onclick="crpGetPage('/global-blacklist')">Global Blacklist</a></li>
			{{/ifAdmin}}
		</ul>
	</li>
	<li class="menu-item menu-has-childred">
		<a onclick="crpGetPage('/chapters')">Chapters</a>
		<ul class="sub-menu">
		{{#games}}
			<li class="menu-item page-has-childred">
				<a><img src="{{this.icon}}" width="16px" height="16px" /> {{this.name}}</a>
				{{#each this.chapters}}
					<ul class="sub-menu">
						<li class="menu-item"><a onclick="crpGetPage('/{{this.name}}')">{{this.name}}</a></li>
					</ul>
				{{/each}}
			</li>
		{{/games}}
		</ul>
	</li>
	{{#if req.user}}
		<li class="menu-item menu-has-childred">
			<a onclick="crpGetPage('/members/{{userNicename req.user}}')">{{userDisplayName req.user}}</a>
			<ul class="sub-menu">
				<li class="menu-item"><a onclick="crpGetPage('/members/{{userNicename req.user}}/activity')">Activity</a></li>
				<li class="menu-item"><a onclick="crpGetPage('/members/{{userNicename req.user}}/account')">Account</a></li>
				<li class="menu-item"><a onclick="crpGetPage('/members/{{userNicename req.user}}/settings')">Settings</a></li>
				{{#ifAdmin req.user req}}
					<li class="menu-item"><a onclick="crpGetPage('/admin/users')">Admin</a></li>
				{{/ifAdmin}}
			</ul>
		</li>
		<li class="menu-item"><a href="/logout">Logout</a></li>
	{{else}}
		<li class="menu-item"><a onclick="crpGetPage('/register')">Register</a></li>
		<li class="menu-item"><a onclick="$('#login').toggleClass('active')">Login</a></li>
	{{/if}}
</ul>

{{#ifPending req.user req}}
<div class="activate">
	<span>You're not done! You need to use the code we sent to you're email address to activate you're account and complete the registration process.</span>
	
	<div>
		<input type="text" name="activation_code" class="activation_code" maxlength="6" placeholder="ACTIVATION CODE" />
		<button onclick="crpActivateUser($('.activation_code').val())">Activate</button>
	</div>
</div>
{{/ifPending}}