{{#ifIsUser user req}}
<script>crpTinyMCE()</script>
<form class="user-account-form standard-form" method="POST">
	<label for="display_name">Display Name</label>
	<div class="standard-input">
		<input type="text" name="display_name" class="display_name" value="{{user.display_name}}" />
		<span class="input-error"></span>
	</div>

	<label for="user_dob">Date of Birth</label>
	<div class="standard-input">
		<input type="text" name="user_dob" class="user_dob" value="{{user.meta.date_of_birth}}" />
		<span class="input-error"></span>
	</div>
	
	<label for="user_timezone">Timezone</label>
	<div class="standard-input">
		<input type="hidden" name="timezone" class="timezone" value="{{user.meta.timezone}}" />
		<select name="user_timezone" class="user_timezone">
			{{tzSelect}}
		</select>
		<span class="input-error"></span>
	</div>
	
	<label for="user_gender">Gender</label>
	<div class="standard-input">
		<input type="hidden" name="gender" class="gender" value="{{user.meta.gender}}" />
		<select name="user_gender" class="user_gender">
			<option value="---">---</option>
			<option value="Female">Female</option>
			<option value="Male">Male</option>
			<option value="Bolian">Bolian</option>
		</select>
		<span class="input-error"></span>
	</div>
	
	<label for="user_tagline">Tagline</label>
	<div class="standard-input">
		<input type="text" name="user_tagline" class="user_tagline" value="{{user.meta.tagline}}" />
		<span class="input-error"></span>
	</div>
	
	<label for="profile_pic">Profile Picture</label>
	<div class="standard-input">
		{{#if user.meta.profile_pic}}
			<img class="profile-pic" src="{{user.meta.profile_pic}}" width="150px" height="150px" />
		{{/if}}
		<input type="file" name="profile_pic" class="profile_pic" />
		<span class="input-error"></span>
	</div>
	
	<label for="cover_pic">Cover Image</label>
	<div class="standard-input">
		{{#if user.meta.cover_pic}}
			<img class="cover-pic" src="{{user.meta.cover_pic}}" height="150px" />
		{{/if}}
		<input type="file" name="cover_pic" class="cover_pic" />
		<span class="input-error"></span>
	</div>
	
	<label for="user_about" class="fill">About Me</label>
	<div class="standard-input fill">
		<textarea name="user_about" class="user_about tinymce">{{user.meta.about}}</textarea>
		<span class="input-error"></span>
	</div>
	
	<input type="hidden" name="user_id" class="user_id" value="{{user._id}}" />
	<input type="submit" value="Save" />
</form>
<script src="/js/members/profile.js"></script>
{{/ifIsUser}}